/*p{
    padding:0px;
    margin:0px;
}*/

.home-pg{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.home-pg-img {
    height: 35rem;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-image: url("/photos/home-pg.jpg");
    filter: brightness(65%);
    background-repeat:no-repeat;
    background-size:cover;
    gap:1rem;
}

.home-pg-img p{
    font-size:3rem;
    width:70%;
    text-align:center;
    filter: brightness(100%);
    filter: contrast(250%);
    color:tomato;
}

.home-pg-img button{
    padding:0.5rem;
    background-color:tomato;
    border:none;
    border-radius:5px;
}

.home-pg-heading {
    font-size: 24px;
    width: 18rem;
    height: 2.5rem;
    padding: 0.5rem;
    letter-spacing:5px;
    text-align: center;
    margin: 10px auto;
    border-bottom: 1px solid grey;
    box-shadow: 3px 2px 2px 0px grey;
}

.home-content{
    width:95%;
    display:flex;
    flex-wrap:wrap;
    gap:0.7rem;
    justify-content:center;
    align-content:center;
}

.home-content-box {
    height: 16rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    border: 0.1px solid grey;
    border-radius: 5px;
    padding: 1rem;
    gap: 0.5rem;
    box-shadow: 2px 2px 4px 0px grey;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .home-content-box:hover {
        transform: translateY(-3px);
    }

.home-content-box p{
    margin:0px;
    padding:0px;
}

.first-child{
    color: #6a6969;
    line-height: 18px;
    font-weight: 400;
}

.home-content-box p:last-child{
    font-weight:600;
}

.home-content-box img{
    height:9rem;
}