.auth-container {
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    animation: fadeIn 0.5s ease-out;
}

.auth-img {
    height: 90vh;
    width: 50%;
    display: block;
}

.auth-img img {
    height: 100%;
    width: 100%;
    filter: brightness(70%);
    object-fit: cover;
}

.auth-card-container {
    min-height: 90vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.auth-card {
    width: 100%;
    max-width: 500px;
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: 0 1.5rem;
}

.auth-card h5 {
    margin-bottom: 5px;
}

.subtitle {
    color: gray;
    font-size: 14px;
    margin-bottom: 25px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
    display:flex;
    flex-direction:column;
}

.input-group label {
    font-size: 1rem;
    display: block;
    margin-bottom: 0px;
    font-weight:600;
}

.input-group input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.8rem !important;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #667eea;
}

/*.bi-eye {
    position: absolute;
    right: 15px;
    top: 40px;
    cursor:pointer;
}*/

#togglePassword {
    position: absolute;
    right: 5%;
    top: 63%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}

#togglePassword svg {
    color: #333;
}

/* browser default eye remove (important) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
}


.auth-btn {
    width: 100%;
    padding: 1rem;
    border: none;
    background: #667eea;
    color: white;
    font-size: 1rem;
    font-weight:700;
    border-radius: 0.8rem;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.auth-btn:hover {
    background: #5563d6;
}

.switch-text {
    margin-top: 15px;
    font-size: 17px;
}

.switch-text span {
    color: #667eea;
    cursor: pointer;
    font-weight: bold;
}


.input-validation-error {
    border: 1px solid red;
}

.text-danger {
    font-size: 14px;
    color: red;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .auth-img {
        display: none;
    }
    .auth-card-container {
        width: 100%;
    }
}



