body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f5f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    max-width: 950px;
    margin: 30px auto;
    padding: 0 15px;
    animation: fadeIn 0.5s ease-out;
}

/* BLOG CARD */

.blog-card {
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.blog-image {
    width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 500px;
    object-fit: cover;
    display: block;
}

.blog-content {
    padding: 25px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
}

.location {
    color: #777;
    font-size: 14px;
}

.location svg {
    margin-bottom: 6px;
    color: #de0d0d;
 }

.description {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 20px;
}

.date {
    font-size: 13px;
    color: #777;
}

/* REVIEW SECTION */

.review-container {
    margin-top: 40px;
}

.review-heading {
    font-size: 22px;
    font-weight: bold;
    margin:20px auto;
    border-bottom: 1px solid grey;
    width: 13rem;
    text-align: center;
    letter-spacing: 3px;
}

/* SINGLE REVIEW CARD */

.review-card {
    background: white;
    padding: 1.2rem;
    border-radius: 12px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.review-card-content{
    display:flex;
    flex-direction:column;
    gap:0.2rem;
}

.review-card-icons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

svg.delete-icon{
    height: 18px;
    width: 24px;
    cursor: pointer;
    color: grey;
    transition: all 0.3s ease;
}

svg.bi.bi-pencil-square {
    height: 18px;
    width: 24px;
    cursor: pointer;
    color: grey;
    transition: all 0.3s ease;
}

svg.delete-icon:hover {
    color: black;
}

svg.bi.bi-pencil-square:hover{
    color:black;
}

.review-user {
    font-weight: bold;
}

.review-text {
    color: #555;
    font-size: 15px;
}

svg.bi.bi-person {
    margin-bottom: 5px;
}

svg.bi.bi-calendar {
    margin-bottom: 5px;
    height: 12px;
}

/* ADD REVIEW */

.add-review {
    margin-top: 25px;
}

.add-review form{
    display:flex;
}

.form-input{
    width:100%;
}

.form-input textarea {
    height:3rem;
    width: 100%;
    padding: 11px;
    border-radius: 8px;
    border: 1px solid #ccc;
/*    resize: none;*/
}

.add-review-btn {
    height: 3rem;
    border: none;
    color: #7d7d7d;
    background: #f4f4f4;
    text-align: center;
}

button.add-review-btn svg {
    transform: rotate(15deg);
    cursor: pointer;
    transition:all 0.3s ease;
}

button.add-review-btn svg:hover {
    color:black;
}

.input-validation-error {
    border: 1px solid red;
}

.text-danger {
    font-size: 12px;
    color: red;
}

/* Media Queries */
@media screen and (max-width: 500px) {
    .review-card {
        flex-direction: column;
    }
    .review-card-icons {
        align-self: flex-end;
    }
}

