.post-container {
    width: 95%;
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s ease-out;
}

.post-heading {
    text-align: center;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
}

.form-img-input {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 2px dashed #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.form-img-input img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    object-position: center;
}

.post-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.button-group {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 1rem;
}

.draft-btn {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ddd;
    background: white;
    color: #333;
    font-size: 16px;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1rem;
    font-weight: 700;
}

.draft-btn:hover {
    background: #f8f9fa;
}

.form-img-input input {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#uploadText {
    position: absolute;
    font-size: 14px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

.form-input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
}


.publish-btn {
    width: 100%;
    padding: 1rem;
    border: none;
    background: #667eea;
    color: white;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 700;
    font-size: 1rem;
}

.publish-btn:hover {
    background: #5563d6;
}

.input-validation-error {
    border: 1px solid red;
}

.text-danger {
    font-size: 12px;
    color: red;
}

.text-danger-image {
    font-size: 12px;
    color: red;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

/* Media Queries */
@media screen and (max-width: 480px) {
    .button-group {
        flex-direction: column;
    }
}